/* @import url("https://use.typekit.net/jmk3xov.css"); */

:root {
    --dark-blue-bg: #1C9CF6;
    --card-blue-bg: #1D71F2;
    --font-yl: #FFFAE0;
    --spacing: 50px;
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1, h3, blockquote , input , button{
    font-family: elevon, sans-serif;
    font-weight: 700;
    font-style: normal;
}

body {
    background-color: var(--dark-blue-bg);
}

main {
    width: 100vw;
    color: #FFFAE0;
    z-index: 99;
    position: absolute;
    width: 100%;
    margin: 0px auto;
    padding: 120px 0px;
    
    display: grid;
    grid-template-rows: repeat(26, 8%);
    grid-template-columns: repeat(21 , 2fr); 
}

header{
    box-shadow: 0 0.2rem 3rem 0 #F8DE7E;
    background: var(--card-blue-bg);
    grid-column: 4 / span 15;
    grid-row: 2 / span 5;
    font-size: 1.5rem;
    padding: 1.6rem;
    margin-bottom: var(--spacing);
    text-align: center;
} 

section {
    grid-column: 4 / span 3;
    grid-row: 8 / span 10;
    box-shadow: 0 0.2rem 3rem 0 #F8DE7E;
    padding: 1rem;
    background: var(--card-blue-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
    text-align: center;
}

section p {
    color: #FFFAE0;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

section p:hover {
    cursor: pointer;
    color: #FFD700;
    box-shadow: 0 0 0.2rem 0.2rem #FFD700;
    transform: translateY(-0.1rem);
    transition: transform  150ms;
}

blockquote {
    color: #FFFAE0;
    box-shadow: 0 0.2rem 1rem 0 #F8DE7E;
    background: var(--card-blue-bg);
    margin: 0;
    padding: 1rem;
    grid-column: 8 / span 4;
    grid-row: 8 / span 8;
    margin-bottom: var(--spacing);
}

blockquote p {
    text-align: center;
    font-size: 2rem;
}
blockquote h2 {
    font-size: 1.6rem;
}

input {
    text-align: center;
    line-height: 2;
    width: 60%;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

button {
    line-height: 2;
    width: 35%;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
}

footer{
    grid-column: 4 / span 15;
    grid-row: 20 / span 3;
}

@media only screen and (max-width: 1126px) and (max-width: 1120px) {
    input {
        line-height: 2;
        width: 97%;
        font-size: 0.9rem;
    }

    button {
        width: 100%;
    }
}
@media only screen and (max-width: 887px) {
    input {
        width: 95%;
        font-size: 0.9rem;
    }

    button {
        width: 100%;
        line-height: 2;
        font-size: 0.7rem;
        text-align: center;
    }

    
}  